{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<section class="bg-light py-5">
    <div class="container-fluid">
        <div class="row gy-4 mt-1">
            <div class="col-12 col-md-12 col-lg-8 border-end">
                <h1 class="text-center mb-3 fw-bold">À propos de Diarra Moustapha</h1>
                <img src="{% static 'img/toph_5.jpeg' %}" class="mx-auto d-block" height="500px" width="500px" alt="title">
                <p class="mt-3">
                    Bonjour, je suis Diarra Moustapha, diplomé en génie informatique, fondateur de Planète Code. J'aide
                    les gens à apprendre la programmation informatique de maniere simple et pratique. J'écris du code en
                    Python, Java, C++, HTML/CSS, Javascript et Kotlin. Et mon langage de programmation préféré de tous les
                    temps est Python. J'ai creé ce site Web pour partager mes connaissances et vous aider à devenir un
                    meilleur programmeur.
                </p>
                <h2>Mon histoire de carrière</h2>
                <p>
                    L'histoire commence en 2018. Après avoir en mon baccalauréat scientifique et faire 2 années d'etude
                    universitaire en mathematique et informatique.
                    Je decide de venir en Russie pour continuer mes etudes et c'est de là qu'est venue ma passion pour l'
                    informatique surtout pour la programmation et je decide de faire carrière.
                </p>
                <p>
                    Ma première année à l'université en Russie, je découvre Python et je tombe amoureux de ce langage.
                    Après avoir réalisé plusieurs projets en python, je décide d'etre polyvalent. J'ai appris
                    HTML, CSS Javascript, PHP, Java et Kotlin, et créé de nombreuses applications web.
                </p>
                <p>
                    J'ai commencé mon apprentissage Python avec le livre de Gerald Swimmen "Apprendre Python" et
                    suivre des tutoriels sur internet. Mais je lis beaucoup que j'ai vite appréhendé. J'ai appris
                    python à fond. Je ne sais pas pourquoi, mais j'aime beaucoup plus coder en python et Java que les
                    autres langages.
                </p>
                <p>
                    J'ai utilisé des modules et frameworks Python comme Tkinter, Turtle, Django, Flask, Numpy,
                    Pandas, Matplotlib, Seaborn, Scikit-Learn, TensorFlow, Keras, etc. pour construire plusieurs
                    projets. J'ai créé un site pour permettre aux touristes de visiter des lieux et de faire
                    des reservation du genre de Booking. En 2021, j'ai obtenus mon bachelor en génie Logiciel.
                    À l'heure où j'écris ces lignes, je suis en master 1 en génie informatique.
                </p>
                <h2>Certifications et réalisations</h2>
                <p>
                    J'ai été reconnu pour des choses incroyables et des choses très idiotes au fil des ans.
                    Mais voici quelques certifications dont je suis assez fier !
                    <ul>
                        <li><a href="https://openclassrooms.com/fr/course-certificates/8665961403">Démarrer votre projet avec Python</a> </li>
                    </ul>
                </p>
                <h2>Détails du contact</h2>
                <p>
                    Si vous souhaitez me contacter, n'hésiter pas à écrire un email à <a href="mailto:diarra.msa@gmail.com">diarra.msa1@gmail.com</a>.
                </p>
                <p>
                    Vous pouvez aussi me trouver sur <a href="https://github.com/DinoRu">Github</a>, qui n'est pas
                    très actif ces jours-ci.
                </p>
            </div>
            <div class="col-12 col-md-12 col-lg-4 ps-5">
                <p class="text-center text-uppercase text-white py-2 post-titre">a propos de moi</p>
                <div class="row gy-4 justify-content-md-center">
                    <div class="col-12">
                        <img src="{% static 'img/toph_1.png' %}" alt="photo de profil" class="rounded-circle mx-auto d-block" height="200px" width="200px"/>
                    </div>
                    <div class="col-12 col-md-12 mx-auto">
                        <p>
                            Salut, je suis Diarra Moustapha. Je suis diplomé en informatique et en ingeniérie passionné par
                            la programmation et la technologie.
                            Planète Python est l'endroit où je me passionne pour la programmation informatique.
                            Sur ce blog, je partage tout ce que j'apprends sur la programmation au fur et à mesure.
                        </p>
                        <a href=""><button type="button" class="btn btn-dark mx-auto d-block">En savoir plus</button></a>
                    </div>
                    <div class="col-12 col-md-12 mx-auto d-block">
                        <p class="text-center text-uppercase text-white py-2 post-titre">Informations legales</p>
                        <div class="col">
                            <p>
                                Planète Code est l'endroit où vous apprenez des compétences techniques et des compétences génerales pour devenir un meilleur programmeur.
                                Ce site appartient et est exploité par Diarra Moustapha.
                            </p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>

        </div>
    </div>
</section>
{% endblock %}